<!DOCTYPE html>
<html>
<head>
  <title>Welcome to My EC2 Instance</title>
</head>
<body>
  <h1>Hello from EC2 Instance!</h1>
  <p>This is the IP address of the EC2 instance: {{ ansible_default_ipv4.address }}</p>
</body>
</html>